.Weather {
    border: 1px solid lightgray;
    background-color: #885C9D;
    color: white;
    padding: 16px;
    border-radius: 4px;
}

.Weather form {
    margin-bottom: 20px;
}

.Weather h1 {
    color: white;
    margin: 20px 0 0 0;
    font-size:24px;;
    height: 28px;
    font-weight: 100;
    display: block;
    text-align: left;
    line-height: 29px;
}

.Weather ul {
    margin: 0;
    padding: 0;
}

.Weather li {
    display: block;
    font-size: 16px;
    font-weight: 100;
    height: 18px;
    line-height: 19px;
    text-align: left;
    list-style: none;
}

.Weather canvas {
    margin: 10px auto;
}

.Weather .temperature {
    font-weight: bold;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
    margin-left: 10px;
}

.Weather .unit {
    font-size: 16px;
    font-weight: 400;
    position: relative;
    top: -32px;
    margin-left: 5px;
    line-height: 1;
}